@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #6700ee;
}
.nav-container a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
header .logo {
  color: #00f7ff;
  font-weight: bold;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: linear-gradient(-45deg, #6e00ff, #0068ff, #00aee1, #00b994);
  background-size: 400% 400%;
  color: white;
  display: grid;
  text-align: center;
}

.pro-gradient {
  background: linear-gradient(-45deg, #a7a7a7, #636363, #96adb5, #b0b6b5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.color-gradient {
  background: linear-gradient(-45deg, #6e00ff, #0068ff, #00aee1, #00b994);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #cacaca;
}
.meet span {
  margin-top: 1em;
  margin-right: 0.5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
  z-index: 3;
}

.dev-title1 {
  color: yellow;
}

.dev-title2 {
  color: white;
}

#myWork {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
  height: 97%;
}
@media only screen and (min-width: 800px) {
  #myWork {
    margin-bottom: -4em;
    padding-bottom: 2em;
  }
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.featured-desc-bottom {
  color: #3b3b3b;
  margin-bottom: 1em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, #cacaca 100%);
}

.skills-container-style ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  filter: drop-shadow(0 0 0.5rem #cacaca);
}
.skills-container-style ul li .icon-container {
  height: 100px;
  margin: 0 auto;
}
.skills-container-style ul li .icon-container.one {
  width: 70px;
}
.skills-container-style ul li .icon-container.two {
  width: 100px;
}
.skills-container-style ul li .icon-container.three {
  width: 60px;
}
.skills-container-style ul li .icon-container.four {
  width: 150px;
}
.skills-container-style ul li .icon-container.five {
  width: 80px;
}
.skills-container-style ul li .icon-container.six {
  width: 80px;
}
.skills-container-style ul li .icon-container.seven {
  width: 80px;
}

.skill-title {
  font-weight: bold;
}

.featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #f7f7f7;
  padding-bottom: 1em;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured,
.portfolio {
    text-align: left;
    margin-bottom: -9em;
  }

  .featured,
.portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
.portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  .skills-container2 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}
.social-header-2 {
  display: none;
}
@media only screen and (max-width: 1050px) {
  .social-header-2 {
    display: block;
    margin: 1em 0em 0em 1em;
  }
}
.social-header-2 ul {
  display: flex;
  justify-content: space-between;
  width: 8em;
  float: left;
}
.social-header-2 ul img {
  width: 25px;
  filter: invert(100%) url(#red-glow);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #6700ee;
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    background: linear-gradient(180deg, rgba(202, 202, 202, 0.5) 0%, rgba(0, 212, 255, 0) 100%);
    padding: 0;
  }
  .hero .content {
    background-size: 400% 400%;
    text-align: left;
  }
  .hero .content .content-margin {
    padding: 6em 8em 6em 4em;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  body {
    background: linear-gradient(-45deg, #ceb0a7, #b594a0, #79b6cc, #92c9bc);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 1vh;
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (max-width: 800px) {
  .content-margin {
    margin: 0em 2em 0em 2em;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .content-margin {
    margin: 0em 6em 4em 6em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 6em 20em 4em 20em;
  }

  .content-margin {
    margin: 2em 10em 6em 16em;
  }

  h1 * {
    font-size: 2em;
  }
}
.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    transform: translate(262px, 830px);
    z-index: 5;
  }
}
.hire-me-background {
  display: flex;
  background: linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 32%, rgba(0, 212, 255, 0) 100%);
}

.hire-me-container {
  display: flex;
}
@media only screen and (min-width: 800px) {
  .hire-me-container {
    margin-top: 9em;
  }
}
.hire-me-container ul {
  display: flex;
  justify-content: space-between;
  width: 7em;
  float: left;
}
.hire-me-container ul img {
  width: 100px;
}

.center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.image-radius {
  border-radius: 1em;
}

.no-top-margin {
  margin-top: 0px;
}

.resume {
  font-size: 1.5em;
  margin-top: 10px;
  text-decoration: none;
  font-family: "Poppins";
  color: #6e00ff;
}

.resume-link {
  display: flex;
  margin-left: auto;
  padding: 1em;
  background-color: #6700ee;
  color: #00f7ff;
  font-weight: bold;
  border-radius: 30px 0% 0% 0%;
}
.resume-link a {
  text-decoration: none;
}
@media only screen and (min-width: 1050px) {
  .resume-link {
    display: none;
  }
}

.resume-flex-container {
  display: flex;
  justify-content: flex-end;
}

.resume-link-2 {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  background-color: #6700ee;
  color: #00f7ff;
  font-weight: bold;
  border-radius: 0px 0% 0% 30px;
}
.resume-link-2 a {
  text-decoration: none;
}
@media only screen and (max-width: 1050px) {
  .resume-link-2 {
    display: none;
  }
}

.github-repo-container {
  display: flex;
}
.github-repo-container img {
  float: left;
  margin-left: 0em;
}
@media only screen and (max-width: 800px) {
  .github-repo-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .github-repo {
    width: 20px;
  }
}
@media only screen and (min-width: 800px) {
  .github-repo {
    width: 30px;
  }
}

.view-on-github {
  color: #6700ee;
  margin-left: 0.2em;
  display: inline-block;
  align-self: flex-end;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 8px white;
}
@media only screen and (min-width: 800px) {
  .view-on-github {
    font-size: 1em;
  }
}
@media only screen and (max-width: 800px) {
  .view-on-github {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 800px) {
  .view-on-github {
    padding-top: 0.6em;
  }
}

.grid-container {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  border-radius: 1em;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: 0.7s;
}
@media only screen and (max-width: 800px) {
  .glow-on-hover {
    margin-bottom: 10px;
  }
}

.glow-on-hover:hover {
  transform: skew(-7deg, -7deg);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.theme-button {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin: 2em;
}

.switch {
  position: relative;
  width: 4rem;
  padding: 0 1rem;
  font-family: verdana;
}
.switch:before {
  content: "  ";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1rem;
  background: #000;
  border-radius: 30px;
}
.switch__label {
  display: inline-block;
  width: 1rem;
  opacity: 0;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}
.switch__label:hover {
  color: white;
}
.switch__indicator {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.5rem;
  left: -1.3rem;
  background: blue;
  box-shadow: inset 0.5em 0.5em gold;
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
  transform: translate3d(1rem, 0, 0);
}
.switch input#one:checked ~ .switch__indicator {
  background: #d5d5d5;
  transform: translate3d(1.2rem, 0, 0);
}
.switch input#two:checked ~ .switch__indicator {
  background: #d5d5d5;
  transform: translate3d(5.5rem, 0, 0);
}
.switch input[type=radio]:not(:checked), .switch input[type=radio]:checked {
  display: none;
}