@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #6700ee;
}
.nav-container a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
header .logo {
  color: #00f7ff;
  font-weight: bold;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: linear-gradient(-45deg, #6e00ff, #0068ff, #00aee1, #00b994);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #cacaca;
}
.meet span {
  margin-top: 1em;
  margin-right: 0.5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
  z-index: 3;
}

.dev-title1 {
  color: yellow;
}

.dev-title2 {
  color: white;
}

#myWork {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
  height: 97%;
}
@media only screen and (min-width: 800px) {
  #myWork {
    margin-bottom: -4em;
  }
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, #cacaca 100%);
}

.skills-container-style ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  filter: drop-shadow(0 0 0.5rem #cacaca);
}
.skills-container-style ul li .icon-container {
  height: 100px;
  margin: 0 auto;
}
.skills-container-style ul li .icon-container.one {
  width: 70px;
}
.skills-container-style ul li .icon-container.two {
  width: 100px;
}
.skills-container-style ul li .icon-container.three {
  width: 60px;
}
.skills-container-style ul li .icon-container.four {
  width: 150px;
}
.skills-container-style ul li .icon-container.five {
  width: 80px;
}
.skills-container-style ul li .icon-container.six {
  width: 80px;
}
.skills-container-style ul li .icon-container.seven {
  width: 80px;
}

.skill-title {
  font-weight: bold;
}

.featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured,
.portfolio {
    text-align: left;
    margin-bottom: -9em;
  }

  .featured,
.portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
.portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  .skills-container2 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #6700ee;
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: linear-gradient(180deg, rgba(202, 202, 202, 0.5) 0%, rgba(0, 212, 255, 0) 100%);
    padding: 0;
  }
  .hero .content {
    background: linear-gradient(-45deg, #6e00ff, #fd00b9, #ff7544, #ffbf3a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 1vh;
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 6em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    transform: translate(262px, 830px);
    z-index: 5;
  }
}
.hire-me-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 9em;
  background: linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 32%, rgba(0, 212, 255, 0) 100%);
}

.box-1 {
  width: 16%;
  margin-bottom: 1em;
}
@media only screen and (max-width: 580px) {
  .box-1 {
    margin-bottom: 0px;
  }
}

.box-2 {
  width: 7%;
}

.box-3 {
  width: 60%;
}

.linkedIn {
  height: 5em;
}

.email {
  padding-top: 0.6em;
  height: 60px;
  align-self: flex-start;
}

.image-radius {
  border-radius: 1em;
}

.no-top-margin {
  margin-top: 0px;
}

.resume {
  font-size: 2em;
  text-decoration: none;
  font-family: "Poppins";
  color: #6e00ff;
  margin-left: 1em;
  margin-top: 0.5em;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: 0.7s;
}
@media only screen and (max-width: 800px) {
  .glow-on-hover {
    margin-bottom: 10px;
  }
}

.glow-on-hover:hover {
  transform: skew(-7deg, -7deg);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}