/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/animation";
@import "compass/css3/transform";

@font-face {
font-family: Venera;
src: url("../fonts/Venera-100.otf") format("opentype");
}

@font-face {
font-family: Venerathree;
src: url("../fonts/Venera-300.otf") format("opentype");
}

@font-face {
font-family: Venerafive;
src: url("../fonts/Venera-500.otf") format("opentype");
}

@font-face {
	font-family: bebas;
	src: url("../fonts/bebas/BebasNeue Bold.otf") format("opentype");
}

@font-face {
	font-family: voyager;
	src: url("../fonts/Voyager-Grotesque/V-GERB(bold).ttf") format("opentype");
}

@include keyframes(rotate) {
    from {@include transform(rotateY(0));}
    to {@include transform(rotateY(360));}
}

body {
	font-family: Venerafive;
}

.btn-default {
	border-radius: none !important;
	background-color: #b200ff;
	border-width: 0px;
	color: #c7ff44;
}

div.tooltip-inner {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 20px;
    color: white;
    font-family: Bebas;
    letter-spacing: 2px;
    max-width: 340px;
}

.tooltip-arrow {
	color: white;
}

.iphone-image {
	width: 290px;
	cursor: pointer;
}

.vid-title-container:hover {
	cursor: pointer;
}

.design-thumb-text {
	position: absolute;
	top: 150px;
	font-family:bebas;
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 1.5em;
	// letter-spacing: 1.5px;
}

.large-home-screen, .large-add-screen, .large-settings-screen, .fd-style-tile, .fd-style-tile-variant {
	position: fixed;
	height: 90%;
	width: auto;
	z-index: 2000;
	top: 100px;
	left: 100px;
	cursor: pointer;
	-webkit-transform: translateZ(100px);
}

#loading_wrap {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: red;
}


.iphone-thumb {
	height: 100px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.randomized {
	margin-top: 10px;
	margin-left: 72px;
	font-size: .7em;
	background-color: yellow;
	font-family: Venerathree;
	padding-top: 3px;
	width: 50%;
	color: black;
	border-radius: 0px 10px 0px 0px;
	z-index: 500;
}

.title {
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-width: 20px;
	border-color: transparent;
	border-style: solid;
	border-image: url(../images/border.svg) 20 repeat;
}

.title-inner {
	height: 100%;
	// width: 100%;
 -webkit-animation: title 5s infinite alternate;
}
.cloud1 {
	width: 100%;
}

.cloud1 img {
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes title {
    0% {background-image: url("../images/site-title1.png");}
    50% {background-image: url("../images/site-title2.png");}
    100% {background-image: url("../images/site-title3.png");}
}

@media all and (max-width: 767px) {
    .navbar-nav {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .navbar-collapse {
    	position: relative;
    	bottom: 20px;
    }

    .nav {
    	li {
    		a {
    			height: 35px;
    		}
    	}
    }
}

#cloud2 {
	float: right;
}

.random-text {
	color: yellow;
	float: right;
	margin-top: 10px;
}

.fix {
	height: 120px;
}

.right {
	float: left;
	img {
		@include transform(scaleX(-1));
	}
}

#invert:hover {
	-webkit-filter: invert(100%);
}

.brand-img {
	height: 70px;
	width: auto;
}

body {
	background-color: black;
}

.navbar {
	border-radius: 0px;
	background-color: gray;
	border-width: 0px;
	a {
		color: white;
	}
}

.nav {
	a {
		color: black !important;
	}
}

.social {
	background-color: gray;
	padding-top: 20px;
	float: left;
	z-index: 200;
	width: 100%;
	padding-left: 20px;
	margin-top: 50px;
}

.icon {
	height: 60px;
	@include transform(rotate(0deg));
	-webkit-filter: hue-rotate(0deg);
	-webkit-transition: -webkit-transform, .5s;
	float: left;
}

.icon:hover {
	-webkit-transform:rotate(360deg);
	-webkit-filter: hue-rotate(180deg);
}

.about {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
	color: white;
	h1 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	.desc {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.list {
		margin-left: 20px;
	}
}

.aboutme {
	margin-bottom: 60px;
}

#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #a5a5a5;
}

.top {
	padding-top: 20px;
}

.thumbnail-desc {
	font-family: 'Montserrat', sans-serif;
}

.thumbnail-desc-small {
	font-family: 'Montserrat', sans-serif;
	font-size: .9em;
}

.thumb-button:hover {
	background-color: #8c00ff;
	color: #00f2ff;
}
.thumbnail {
	background-color: #c9c9c9;
	height: 340px;
	.site-link {
		width: 295px;
		-webkit-transition: width .25s ease;
	}
	.site-link:hover {
		width: 305px;
	}
}

.github {
	position: absolute;
	height: 40px;
	bottom: 20px;
	left: 5px;
	fill: #ffffff;

}

.index-title {
	margin-top: 60px;
	margin-bottom: 10px;
	font-family: 'bebas', sans-serif;
	letter-spacing: 20px;
	font-size: 80px;
	color: #5e5e5e;
}

#subtitle {
	height: 60px;
	margin-bottom: 20px;
	font-family: 'Venera', sans-serif;
	letter-spacing: 10px;
	font-size: 40px;
	color: #5e5e5e;
	// z-index: 500;
}

 .navbar-default { height: 28px;
 	.active {
		height: 28px;
	}
 }


	.active {
		a {
		height: 35px;
		background-color: #b6f9e1;
	}
	}

	.nav {
		a {
			margin-top: -8px;
		}
	}

	.phone {
		float: right;
	}

	.email {
		float: right;
	}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 100px; 
}

.space {
	margin-top: 25px;
}

.social {
	display: inline;
}

.vid-container {
	position: relative;
	width: 382px;
	height: 282px;
}

// .vid-container2 {
// 	position: relative;
// 	width: 382px;
// 	height: 282px;
// }

.spiral, .spiral-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.power, 
.power-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vid-text {
	margin-top: 150px;
	font-family: bebas;
	color: black;
	font-size: 60px;
	padding: 30px;
	background-color: rgba(255,255,255,0.5);
	height: 100px;
}

.caption {
	.small-caption {
		font-size: .9em;
	}
	h3 {
		position: absolute;
		top: 170px;
	}
	p {
		position: absolute;
		top: 200px;
		max-width: 200px;
	}
}

.click-play {
	margin-top: 12px;
	margin-left: 20px;
	font-family: marker;
	font-size: 1.4em;
	color: white;
}

.video {
	float: right;
}


.modal-content {
	position: relative !important;
	z-index: 2000 !important;
}

.modal {
	z-index: 100px !important;
	-webkit-transform: translateZ(50px) !important;
}

.modal-container {
	padding-left: 15px;
	margin-bottom: 10px;
}

.vid-title {
	font-size: 40px;
	padding-top: 20px;
	padding-left: 10px;
	color: white;
	margin-bottom: 10px;
	font-family: bebas;
}

.inner-code-stripe {
	position: relative;
	background-color: white;
	width: 1%;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.inner-design-stripe {
	position: relative;
	background-color: #FF0000;
	width: 1%;
	top: 0px;
	left: 0px;
}

.inner-video-stripe {
	position: relative;
	background-color: #0ACC86;
	width: 1%;
	top: 0px;
	left: 0px;
}

.inner-about-stripe {
	position: relative;
	background-color: #0659FF;
	width: 1%;
	top: 0px;
	left: 0px;
}

.inner-contact-stripe {
	position: relative;
	background-color: #E9F40C;
	width: 1%;
	top: 0px;
	left: 0px;
}

.code-bottom {
	position: absolute;
	background-color: #cccccc;
	bottom: -17px;
	left: 1px;
	height: 40px;
	@include transform(rotateX(90deg));
	width: 1%;
}

.design-bottom {
	position: absolute;
	background-color: #ad0000;
	bottom: -17px;
	left: 1px;
	height: 40px;
	@include transform(rotateX(90deg));
	width: 1%;
}

.video-bottom {
	position: absolute;
	background-color: rgb(10, 252, 134);
	bottom: -17px;
	left: 1px;
	height: 40px;
	@include transform(rotateX(90deg));
	width: 1%;
}

.about-bottom {
	position: absolute;
	background-color: #0032bc;
	bottom: -17px;
	left: 1px;
	height: 40px;
	@include transform(rotateX(90deg));
	width: 1%;
}

.contact-bottom {
	position: absolute;
	background-color: #c2c900;
	bottom: -17px;
	left: 1px;
	height: 40px;
	@include transform(rotateX(90deg));
	width: 1%;
}

.portfolio-block, .design-block, .video-block, .about-block, .contact-block {
	background-color: black;
}

.vid-title-container {
	position: relative;
	height: 90%;
	margin: 5px;

}

.icon-container {
	background-color: #7f7f7f;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 130%;
	text-align: center;
}

.i-c-facebook:hover {
	background-color: #3B5998;
	i {
		color: white;
	}
}

.i-c-twitter:hover {
	background-color: #4099FF;
	i {
		color: white;
	}
}

.i-c-linkedin:hover {
	background-color: #3b5998;
	i {
		color: white;
	}
}

.i-c-mail:hover {
	background-color: #444444;
	i {
		color: white;
	}
}

.i-c-phone:hover {
	background-color: #444444;
	i {
		color: white;
	}
}

#return-to-top {
    position: fixed;
    bottom: -135px;
    right: 20px;
    background-color: rgba(255,255,255, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-bottom: 150px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
     i {
    color: black;
    margin-right: 10px;
    position: relative;
    bottom: 14px;
    left: 6px;
    font-size: 60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 1s ease;
    transform: rotateY(0deg);
    cursor: pointer;
  }
}

#return-to-top:hover {
    background: black;
}

#return-to-top:hover i {
    color: white;
    bottom: 30px;
    transform: rotateY(720deg);
    -webkit-transform: rotateY(720deg);
}

.jsdemo {
	margin-left: 30px;
	margin-bottom: 40px;
}

.inline-link, .inline-link:visited {
	color: #ffe900;
	-webkit-transition: color 1s;
	transition: color 1s;
	text-decoration: none !important;
}

.inline-link:hover {
	color: #00c7ff;
	text-decoration: none;
}

.navbar-collapse {
	a {
		cursor: pointer; 
		cursor: hand;
	}
}

.fa-phone, .phone, .email, .fa-envelope {
	cursor: pointer; 
}

.navbar-toggle {
	background-color: orange;
}

.footer-icon {
	color: black;
}

.footer-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.desc-btn {
	position: absolute;
	top: 200px;
	background-color: #707070;
	color: white;
	border-width: 0px;
	font-family: venera;
}

.desc-btn:hover {
	background-color: black;
	color: #f9dd04;
	i {
	@include animation('rotate 1s infinite');
	}
}

.desc-btn:visited {
	background-color: black;
	color: #f9dd04;
}

.modal-title {
	font-family: 'Venerafive';
}

.modal-content {
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Montserrat', sans-serif;
	line-height: 150%;
}

.close {
    color: black; 
    opacity: 1;
}

.under-bar-row {
	margin-top: 20px;
}

.contact-button {
	position: relative;
	background-color: #d60000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-size: 1.2em;
	cursor: pointer;
}

.c-button-text, .c-button-text:hover, .c-button-text:visited {
	color: black;
	text-decoration: none !important;
}

.close:hover {
	color: #00a1ff;
}

.modal-header {
	background-color: #2b2b2b;
	color: white;
	border-radius: 0px 0px 0px 0px;
}

.modal-footer {
	background-color: #c1c1c1;
}

.fa-github, .fa-globe {
	float: left;
	color: black;
	margin-right: 10px;
}