<html>
  <head>
    <meta charset="UTF-8"></meta>
    <title>Sunrise Tracker</title>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/angular.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.js"></script>
    <script src="js/sorttable.js"></script>
    <script src="js/moment.js"></script>
    <script type="text/javascript" src="js/d3.v3.js"></script>
    <script src="js/moment-timezone-with-data.min.js"></script>
    <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <script src="js/bootstrap.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
  </head>
  <body ng-app="sunrise-times" ng-controller="MainCtrl">
    <div class="container">

      <div class="separator" style="height: 80px;">
      </div>
      <button class="btn btn-default" ng-click="loadAddress()">Load Sample Address</button>

      <form ng-submit="getTimes()">
        <div class="row">
          <div class="col-md-3">
            <label>Address</label>
            <input type="text" ng-model="address" class="form-control"></input>
          </div>
          <div class="col-md-3">
            <label>City</label>
            <input type="text" ng-model="city" class="form-control"></input>
          </div>
          <div class="col-md-3">
            <label>State</label>
            <input type="text" ng-model="state" class="form-control"></input>
          </div>
        </div><!-- end of address row -->

        <div class="row"><!--beginning of datepicker row -->
          <div class="col-md-3">
            <label>Start Date</label>
              <p class="input-group">
                <input type="text" datepicker-popup="MM-dd-yyyy" ng-model="startDate" is-open="opened1" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"/>
                <button class="btn" ng-click="open($event,'opened1')"><span class="glyphicon glyphicon-calendar"></span></button>
              </p>
            </div><!-- end of start date columns -->

        <div class="col-md-3">
          <label>End Date</label>
            <p class="input-group">
              <input type="text" datepicker-popup="MM-dd-yyyy" ng-model="endDate" is-open="opened2" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"/>
              <button class="btn" ng-click="open($event,'opened2')"><span class="glyphicon glyphicon-calendar"></span></button>
            </p>
        </div><!-- end of end date columns -->

        <div class="col-md-3">
          <label>Time Zone</label>
          <select id="zone" class="form-control">
          </select>
        </div>
      </div><!-- end of inputs row -->

      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-default">Get Sunrise Times</button>
          </form>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
        <table class="sortable table-striped table-bordered">
        <thead>
          <tr><th>Date</th><th>Sunrise</th><th>Sunset</th><th>Day Length</th><th></th></tr>
        </thead>
        <tbody id="sunrises">
        </tbody>
        </table>
      </div>

      <div class="col-md-6">
      <svg id="visualisation" width="1000" height="500"></svg>
      </div>
        <div class="row modals">
      </div>
      <div class="separator" style="height: 80px;">
      </div>
    </div>
</body>
</html>