@font-face {
  font-family: Oswald-Bold;
  src: url(Oswald-Bold.ttf); }

@font-face {
  font-family: Oswald-Italic;
  src: url(Oswald-MediumItalic.ttf); }

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0; }

.pointer {
  cursor: pointer; }

.hero {
  background-image: url("hero-mountains-2.png");
  height: 590px;
  min-width: 100vw;
  background-size: cover;
  overflow: hidden; }

.header {
  height: 50px;
  margin: auto;
  width: 70%; }

.logo {
  width: 3em;
  margin: 0.5em;
  float: left; }

.nav-links {
  display: flex;
  padding: 1em;
  float: right;
  flex-wrap: wrap; }

.nav-link {
  margin: 0.5em 2em 0.5em;
  text-decoration: underline;
  color: white;
  font-style: italic;
  font-size: 0.8em;
  width: 40px; }

.white-bar {
  background-color: white;
  height: 4em; }

@media screen and (min-width: 950px) {
  .container,
  .mountain-container {
    margin: auto;
    width: 70%; } }

@media screen and (max-width: 950px) {
  .container {
    margin: auto;
    width: 95%; }
  .mountain-container {
    width: 100%; }
    .mountain-container span {
      text-align: center; } }

.second-logo {
  margin: 0.5em; }

@media screen and (max-width: 450px) {
  .second-logo {
    width: 100px;
    margin: 0.5em; }
  .nav-links {
    padding-left: 0em; } }

.second-nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.black {
  color: black; }

.second {
  background-image: url("Bg-1.png");
  min-height: 850px;
  min-width: 100vw;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.width-container {
  margin: auto;
  margin-top: 2em;
  width: 70%; }

@media screen and (min-width: 950px) {
  .margin-p {
    margin-left: 3em; } }

@media screen and (max-width: 950px) {
  .margin-p {
    margin-left: 0em; } }

.blue-rect {
  min-height: 150px;
  background-color: rgba(93, 107, 133, 0.8); }

.image-gallery {
  margin: 1em 1em 0em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.thumbnail {
  margin: 0.5em; }

.image-parent {
  text-align: center;
  margin-bottom: 1em; }

.third {
  background-color: white; }

.climb {
  margin: 1em; }

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr; }

.v-align-parent {
  height: 124px;
  line-height: 124px; }

.vert-align {
  display: inline-block;
  vertical-align: middle;
  line-height: 15px; }

.fourth {
  background-color: #414f6b;
  min-height: 40px;
  z-index: 2; }

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* flex-flow: row wrap; */ }

@media screen and (max-width: 500px) {
  .mountain-flex {
    flex-direction: column;
    align-items: stretch; } }

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }

.climb02-container {
  width: 270px; }

@media screen and (min-width: 800px) {
  .climb-text-container {
    width: 600px;
    margin-bottom: 2em; } }

@media screen and (max-width: 1000px) {
  .climb-text-container {
    width: 100%;
    margin-bottom: 2em; } }

.mountain {
  font-family: Oswald-Bold;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: #b0b4be; }

.mountain-active {
  color: #414f6b;
  background-color: #b0b4be;
  text-decoration: underline; }

.tab-1-background {
  position: relative;
  height: 600px;
  width: 100vw;
  overflow: hidden; }

.tab-1-background::before {
  position: absolute;
  content: "";
  z-index: -1;
  min-width: 1600px;
  min-height: 800px;
  margin-top: -130px;
  background-image: url("tab-1-background.png");
  background-size: cover;
  background-repeat: repeat-x; }

.tab-2-background {
  position: relative;
  height: 600px;
  width: 100vw;
  overflow: hidden;
  display: none; }

.tab-2-background::before {
  position: absolute;
  content: "";
  z-index: -1;
  min-width: 1600px;
  min-height: 800px;
  margin-top: -130px;
  background-image: url("tab-2-background.png");
  background-size: cover;
  background-repeat: repeat-x; }

.schedule-container {
  background-color: rgba(234, 243, 253, 0.9);
  min-height: 200px;
  padding: 1em; }

@media screen and (min-width: 600px) {
  .schedule-width {
    width: 35%;
    margin: 6em 2em 3em; } }

@media screen and (max-width: 600px) {
  .schedule-width {
    margin: 1em;
    /* width: 100%; */ } }

.schedule {
  font-family: Oswald-Bold;
  font-size: 2em;
  line-height: 0.1em;
  color: #414f6b; }

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(20px, auto); }

.footer {
  min-height: 60px;
  background-color: #414f6b; }

.footer-logo {
  margin-top: 0.5em; }

.copyright {
  float: right;
  font-size: 0.8em;
  color: #eaf3fd;
  font-family: Oswald-Italic; }

@media screen and (min-width: 400px) {
  .copyright-padding {
    padding-top: 22px; } }

@media screen and (max-width: 400px) {
  .copyright-padding {
    padding-top: 5px; } }
