/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Venera;
  src: url("../fonts/Venera-100.otf") format("opentype");
}
@font-face {
  font-family: Venerathree;
  src: url("../fonts/Venera-300.otf") format("opentype");
}
@font-face {
  font-family: Venerafive;
  src: url("../fonts/Venera-500.otf") format("opentype");
}
@font-face {
  font-family: bebas;
  src: url("../fonts/bebas/BebasNeue Bold.otf") format("opentype");
}
@font-face {
  font-family: voyager;
  src: url("../fonts/Voyager-Grotesque/V-GERB(bold).ttf") format("opentype");
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(360);
    transform: rotateY(360);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360);
    transform: rotateY(360);
  }
}
@keyframes rotate {
  from {
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(360);
    -ms-transform: rotateY(360);
    -webkit-transform: rotateY(360);
    transform: rotateY(360);
  }
}
/* line 40, ../sass/screen.scss */
body {
  font-family: Venerafive;
}

/* line 44, ../sass/screen.scss */
.btn-default {
  border-radius: none !important;
  background-color: #b200ff;
  border-width: 0px;
  color: #c7ff44;
}

/* line 51, ../sass/screen.scss */
div.tooltip-inner {
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 6px;
  background-color: #505050;
  font-size: 20px;
  color: white;
  font-family: Bebas;
  letter-spacing: 2px;
  max-width: 340px;
}

/* line 65, ../sass/screen.scss */
.tooltip-arrow {
  color: white;
}

/* line 69, ../sass/screen.scss */
.iphone-image {
  width: 290px;
  cursor: pointer;
}

/* line 74, ../sass/screen.scss */
.vid-title-container:hover {
  cursor: pointer;
}

/* line 78, ../sass/screen.scss */
.design-thumb-text {
  position: absolute;
  top: 150px;
  font-family: bebas;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1.5em;
}

/* line 89, ../sass/screen.scss */
.large-home-screen, .large-add-screen, .large-settings-screen, .fd-style-tile, .fd-style-tile-variant {
  position: fixed;
  height: 90%;
  width: auto;
  z-index: 2000;
  top: 100px;
  left: 100px;
  cursor: pointer;
  -webkit-transform: translateZ(100px);
}

/* line 100, ../sass/screen.scss */
#loading_wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: red;
}

/* line 111, ../sass/screen.scss */
.iphone-thumb {
  height: 100px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* line 119, ../sass/screen.scss */
.randomized {
  margin-top: 10px;
  margin-left: 72px;
  font-size: .7em;
  background-color: yellow;
  font-family: Venerathree;
  padding-top: 3px;
  width: 50%;
  color: black;
  border-radius: 0px 10px 0px 0px;
  z-index: 500;
}

/* line 132, ../sass/screen.scss */
.title {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
  border-image: url(../images/border.svg) 20 repeat;
}

/* line 143, ../sass/screen.scss */
.title-inner {
  height: 100%;
  -webkit-animation: title 5s infinite alternate;
}

/* line 148, ../sass/screen.scss */
.cloud1 {
  width: 100%;
}

/* line 152, ../sass/screen.scss */
.cloud1 img {
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes title {
  0% {
    background-image: url("../images/site-title1.png");
  }
  50% {
    background-image: url("../images/site-title2.png");
  }
  100% {
    background-image: url("../images/site-title3.png");
  }
}
@media all and (max-width: 767px) {
  /* line 164, ../sass/screen.scss */
  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* line 168, ../sass/screen.scss */
  .navbar-collapse {
    position: relative;
    bottom: 20px;
  }

  /* line 175, ../sass/screen.scss */
  .nav li a {
    height: 35px;
  }
}
/* line 182, ../sass/screen.scss */
#cloud2 {
  float: right;
}

/* line 186, ../sass/screen.scss */
.random-text {
  color: yellow;
  float: right;
  margin-top: 10px;
}

/* line 192, ../sass/screen.scss */
.fix {
  height: 120px;
}

/* line 196, ../sass/screen.scss */
.right {
  float: left;
}
/* line 198, ../sass/screen.scss */
.right img {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 203, ../sass/screen.scss */
#invert:hover {
  -webkit-filter: invert(100%);
}

/* line 207, ../sass/screen.scss */
.brand-img {
  height: 70px;
  width: auto;
}

/* line 212, ../sass/screen.scss */
body {
  background-color: black;
}

/* line 216, ../sass/screen.scss */
.navbar {
  border-radius: 0px;
  background-color: gray;
  border-width: 0px;
}
/* line 220, ../sass/screen.scss */
.navbar a {
  color: white;
}

/* line 226, ../sass/screen.scss */
.nav a {
  color: black !important;
}

/* line 231, ../sass/screen.scss */
.social {
  background-color: gray;
  padding-top: 20px;
  float: left;
  z-index: 200;
  width: 100%;
  padding-left: 20px;
  margin-top: 50px;
}

/* line 241, ../sass/screen.scss */
.icon {
  height: 60px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-filter: hue-rotate(0deg);
  -webkit-transition: -webkit-transform, .5s;
  float: left;
}

/* line 249, ../sass/screen.scss */
.icon:hover {
  -webkit-transform: rotate(360deg);
  -webkit-filter: hue-rotate(180deg);
}

/* line 254, ../sass/screen.scss */
.about {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
/* line 258, ../sass/screen.scss */
.about h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
/* line 262, ../sass/screen.scss */
.about .desc {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 267, ../sass/screen.scss */
.about .list {
  margin-left: 20px;
}

/* line 272, ../sass/screen.scss */
.aboutme {
  margin-bottom: 60px;
}

/* line 276, ../sass/screen.scss */
#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #a5a5a5;
}

/* line 286, ../sass/screen.scss */
.top {
  padding-top: 20px;
}

/* line 290, ../sass/screen.scss */
.thumbnail-desc {
  font-family: 'Montserrat', sans-serif;
}

/* line 294, ../sass/screen.scss */
.thumbnail-desc-small {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
}

/* line 299, ../sass/screen.scss */
.thumb-button:hover {
  background-color: #8c00ff;
  color: #00f2ff;
}

/* line 303, ../sass/screen.scss */
.thumbnail {
  background-color: #c9c9c9;
  height: 340px;
}
/* line 306, ../sass/screen.scss */
.thumbnail .site-link {
  width: 295px;
  -webkit-transition: width .25s ease;
}
/* line 310, ../sass/screen.scss */
.thumbnail .site-link:hover {
  width: 305px;
}

/* line 315, ../sass/screen.scss */
.github {
  position: absolute;
  height: 40px;
  bottom: 20px;
  left: 5px;
  fill: #ffffff;
}

/* line 324, ../sass/screen.scss */
.index-title {
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: 'bebas', sans-serif;
  letter-spacing: 20px;
  font-size: 80px;
  color: #5e5e5e;
}

/* line 333, ../sass/screen.scss */
#subtitle {
  height: 60px;
  margin-bottom: 20px;
  font-family: 'Venera', sans-serif;
  letter-spacing: 10px;
  font-size: 40px;
  color: #5e5e5e;
}

/* line 343, ../sass/screen.scss */
.navbar-default {
  height: 28px;
}
/* line 344, ../sass/screen.scss */
.navbar-default .active {
  height: 28px;
}

/* line 351, ../sass/screen.scss */
.active a {
  height: 35px;
  background-color: #b6f9e1;
}

/* line 358, ../sass/screen.scss */
.nav a {
  margin-top: -8px;
}

/* line 363, ../sass/screen.scss */
.phone {
  float: right;
}

/* line 367, ../sass/screen.scss */
.email {
  float: right;
}

/* line 371, ../sass/screen.scss */
* {
  margin: 0;
}

/* line 375, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 379, ../sass/screen.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -120px;
}

/* line 383, ../sass/screen.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 388, ../sass/screen.scss */
.site-footer, .page-wrap:after {
  height: 100px;
}

/* line 392, ../sass/screen.scss */
.space {
  margin-top: 25px;
}

/* line 396, ../sass/screen.scss */
.social {
  display: inline;
}

/* line 400, ../sass/screen.scss */
.vid-container {
  position: relative;
  width: 382px;
  height: 282px;
}

/* line 412, ../sass/screen.scss */
.spiral, .spiral-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 420, ../sass/screen.scss */
.power,
.power-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 429, ../sass/screen.scss */
.vid-text {
  margin-top: 150px;
  font-family: bebas;
  color: black;
  font-size: 60px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
}

/* line 440, ../sass/screen.scss */
.caption .small-caption {
  font-size: .9em;
}
/* line 443, ../sass/screen.scss */
.caption h3 {
  position: absolute;
  top: 170px;
}
/* line 447, ../sass/screen.scss */
.caption p {
  position: absolute;
  top: 200px;
  max-width: 200px;
}

/* line 454, ../sass/screen.scss */
.click-play {
  margin-top: 12px;
  margin-left: 20px;
  font-family: marker;
  font-size: 1.4em;
  color: white;
}

/* line 462, ../sass/screen.scss */
.video {
  float: right;
}

/* line 467, ../sass/screen.scss */
.modal-content {
  position: relative !important;
  z-index: 2000 !important;
}

/* line 472, ../sass/screen.scss */
.modal {
  z-index: 100px !important;
  -webkit-transform: translateZ(50px) !important;
}

/* line 477, ../sass/screen.scss */
.modal-container {
  padding-left: 15px;
  margin-bottom: 10px;
}

/* line 482, ../sass/screen.scss */
.vid-title {
  font-size: 40px;
  padding-top: 20px;
  padding-left: 10px;
  color: white;
  margin-bottom: 10px;
  font-family: bebas;
}

/* line 491, ../sass/screen.scss */
.inner-code-stripe {
  position: relative;
  background-color: white;
  width: 1%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* line 500, ../sass/screen.scss */
.inner-design-stripe {
  position: relative;
  background-color: #FF0000;
  width: 1%;
  top: 0px;
  left: 0px;
}

/* line 508, ../sass/screen.scss */
.inner-video-stripe {
  position: relative;
  background-color: #0ACC86;
  width: 1%;
  top: 0px;
  left: 0px;
}

/* line 516, ../sass/screen.scss */
.inner-about-stripe {
  position: relative;
  background-color: #0659FF;
  width: 1%;
  top: 0px;
  left: 0px;
}

/* line 524, ../sass/screen.scss */
.inner-contact-stripe {
  position: relative;
  background-color: #E9F40C;
  width: 1%;
  top: 0px;
  left: 0px;
}

/* line 532, ../sass/screen.scss */
.code-bottom {
  position: absolute;
  background-color: #cccccc;
  bottom: -17px;
  left: 1px;
  height: 40px;
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  width: 1%;
}

/* line 542, ../sass/screen.scss */
.design-bottom {
  position: absolute;
  background-color: #ad0000;
  bottom: -17px;
  left: 1px;
  height: 40px;
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  width: 1%;
}

/* line 552, ../sass/screen.scss */
.video-bottom {
  position: absolute;
  background-color: #0afc86;
  bottom: -17px;
  left: 1px;
  height: 40px;
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  width: 1%;
}

/* line 562, ../sass/screen.scss */
.about-bottom {
  position: absolute;
  background-color: #0032bc;
  bottom: -17px;
  left: 1px;
  height: 40px;
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  width: 1%;
}

/* line 572, ../sass/screen.scss */
.contact-bottom {
  position: absolute;
  background-color: #c2c900;
  bottom: -17px;
  left: 1px;
  height: 40px;
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  width: 1%;
}

/* line 582, ../sass/screen.scss */
.portfolio-block, .design-block, .video-block, .about-block, .contact-block {
  background-color: black;
}

/* line 586, ../sass/screen.scss */
.vid-title-container {
  position: relative;
  height: 90%;
  margin: 5px;
}

/* line 593, ../sass/screen.scss */
.icon-container {
  background-color: #7f7f7f;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 130%;
  text-align: center;
}

/* line 601, ../sass/screen.scss */
.i-c-facebook:hover {
  background-color: #3B5998;
}
/* line 603, ../sass/screen.scss */
.i-c-facebook:hover i {
  color: white;
}

/* line 608, ../sass/screen.scss */
.i-c-twitter:hover {
  background-color: #4099FF;
}
/* line 610, ../sass/screen.scss */
.i-c-twitter:hover i {
  color: white;
}

/* line 615, ../sass/screen.scss */
.i-c-linkedin:hover {
  background-color: #3b5998;
}
/* line 617, ../sass/screen.scss */
.i-c-linkedin:hover i {
  color: white;
}

/* line 622, ../sass/screen.scss */
.i-c-mail:hover {
  background-color: #444444;
}
/* line 624, ../sass/screen.scss */
.i-c-mail:hover i {
  color: white;
}

/* line 629, ../sass/screen.scss */
.i-c-phone:hover {
  background-color: #444444;
}
/* line 631, ../sass/screen.scss */
.i-c-phone:hover i {
  color: white;
}

/* line 636, ../sass/screen.scss */
#return-to-top {
  position: fixed;
  bottom: -135px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  margin-bottom: 150px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 654, ../sass/screen.scss */
#return-to-top i {
  color: black;
  margin-right: 10px;
  position: relative;
  bottom: 14px;
  left: 6px;
  font-size: 60px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 1s ease;
  transform: rotateY(0deg);
  cursor: pointer;
}

/* line 671, ../sass/screen.scss */
#return-to-top:hover {
  background: black;
}

/* line 675, ../sass/screen.scss */
#return-to-top:hover i {
  color: white;
  bottom: 30px;
  transform: rotateY(720deg);
  -webkit-transform: rotateY(720deg);
}

/* line 682, ../sass/screen.scss */
.jsdemo {
  margin-left: 30px;
  margin-bottom: 40px;
}

/* line 687, ../sass/screen.scss */
.inline-link, .inline-link:visited {
  color: #ffe900;
  -webkit-transition: color 1s;
  transition: color 1s;
  text-decoration: none !important;
}

/* line 694, ../sass/screen.scss */
.inline-link:hover {
  color: #00c7ff;
  text-decoration: none;
}

/* line 700, ../sass/screen.scss */
.navbar-collapse a {
  cursor: pointer;
  cursor: hand;
}

/* line 706, ../sass/screen.scss */
.fa-phone, .phone, .email, .fa-envelope {
  cursor: pointer;
}

/* line 710, ../sass/screen.scss */
.navbar-toggle {
  background-color: orange;
}

/* line 714, ../sass/screen.scss */
.footer-icon {
  color: black;
}

/* line 718, ../sass/screen.scss */
.footer-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 723, ../sass/screen.scss */
.desc-btn {
  position: absolute;
  top: 200px;
  background-color: #707070;
  color: white;
  border-width: 0px;
  font-family: venera;
}

/* line 732, ../sass/screen.scss */
.desc-btn:hover {
  background-color: black;
  color: #f9dd04;
}
/* line 735, ../sass/screen.scss */
.desc-btn:hover i {
  -moz-animation: "rotate 1s infinite";
  -webkit-animation: "rotate 1s infinite";
  animation: "rotate 1s infinite";
}

/* line 740, ../sass/screen.scss */
.desc-btn:visited {
  background-color: black;
  color: #f9dd04;
}

/* line 745, ../sass/screen.scss */
.modal-title {
  font-family: 'Venerafive';
}

/* line 749, ../sass/screen.scss */
.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
}

/* line 755, ../sass/screen.scss */
.close {
  color: black;
  opacity: 1;
}

/* line 760, ../sass/screen.scss */
.under-bar-row {
  margin-top: 20px;
}

/* line 764, ../sass/screen.scss */
.contact-button {
  position: relative;
  background-color: #d60000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

/* line 774, ../sass/screen.scss */
.c-button-text, .c-button-text:hover, .c-button-text:visited {
  color: black;
  text-decoration: none !important;
}

/* line 779, ../sass/screen.scss */
.close:hover {
  color: #00a1ff;
}

/* line 783, ../sass/screen.scss */
.modal-header {
  background-color: #2b2b2b;
  color: white;
  border-radius: 0px 0px 0px 0px;
}

/* line 789, ../sass/screen.scss */
.modal-footer {
  background-color: #c1c1c1;
}

/* line 793, ../sass/screen.scss */
.fa-github, .fa-globe {
  float: left;
  color: black;
  margin-right: 10px;
}
