@import 'variables';

.fullscreen-overlay {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); /* change color/opacity as needed */
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease;
}
.overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.horizontal-section {
    position: relative;
    height: 100vh; // full screen height while pinned
    overflow: hidden;
    z-index: 3;
}

.cards-wrapper {
    position: relative; // key: parent for absolute cards
    width: 100%;
    height: 100%;
}

.card {
    position: absolute; // stack all cards on top of each other
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // center in section
    width: 100vw; // Or whatever width you want
    height: auto; // Let the ratio decide the height

    // This locks the box to the exact shape of your SVG
    //aspect-ratio: 504 / 108;

    display: flex;
    align-items: center;
    justify-content: center;
    // optional: add box-shadow, etc.
    .card-bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // CRITICAL: Keeps video aspect ratio while filling the shape
        z-index: 3; // Places it behind content
    }

    // Style the text content to sit on top
    .card-content {
        position: relative;
        z-index: 4; // Places it above video
        color: $secondary-color; // Make text readable over video
        background-color: $main-color;
        text-align: center;
        font-size: 1.5em;
        padding: 1.25em 1em;
        max-width: 60%;
        @media (max-width: 1050px) {
            font-size: 1em;
            padding: 0.25em;
        }
        @media (max-width: 600px) {
            font-size: 0.8em;
            padding: 0;
        }
        font-weight: bold;
    }

    &:first-of-type {
        aspect-ratio: 432 / 262.95;
        clip-path: polygon(
            74.21% 29.87%,
            42.79% 29.87%,
            35.56% 23.02%,
            24.31% 23.02%,
            0% 0%,
            0% 23.02%,
            0% 61.82%,
            16.82% 77.79%,
            76.57% 77.79%,
            100% 100%,
            100% 77.79%,
            100% 54.52%,
            74.21% 29.87%
        );
    }
    &:nth-of-type(2) {
        aspect-ratio: 432 / 219.37;
        clip-path: polygon(
            74.21% 25.68%,
            42.79% 25.68%,
            35.58% 17.48%,
            24.31% 17.48%,
            0% 0%,
            0% 17.48%,
            0% 64.02%,
            16.82% 83.14%,
            76.57% 83.14%,
            100% 100%,
            100% 83.14%,
            100% 55.25%,
            74.21% 25.68%
        );
    }
    &:nth-of-type(3) {
        aspect-ratio: 432 / 182.85;
        clip-path: polygon(
            74.21% 20.34%,
            42.79% 20.34%,
            35.57% 10.38%,
            24.31% 10.38%,
            0% 0%,
            0% 10.38%,
            0% 66.8%,
            16.83% 90.01%,
            76.57% 90.01%,
            100% 100%,
            100% 90.01%,
            100% 56.21%,
            74.21% 20.34%
        );
    }
    &:nth-of-type(4) {
        aspect-ratio: 432 / 146;
        clip-path: polygon(
            74.21% 12.5%,
            42.79% 12.5%,
            35.58% 0%,
            24.31% 0%,
            0% 0%,
            0% 70.88%,
            16.82% 100%,
            76.57% 100%,
            100% 100%,
            100% 57.04%,
            74.21% 12.5%
        );
    }
}
