.skills-container {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        skill-item li {
            width: 100px;
            height: 100px;
            background-color: $accent-color;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.2rem;
            padding: 0.2rem;
            &:not(:first-of-type) {
                margin-left: 1em;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
}
