@import 'fonts';
@import 'variables';
@import 'skills';
//original main color: #6700ee
// original accent color: #ff64cb

:root {
    --main-color: #{$main-color};
    --secondary-color: #{$secondary-color};
    --tertiary-color: #{$tertiary-color};
}

#threeCan {
    position: fixed;
    z-index: 2;
    padding: 0;
    margin: 0;
}

#threeCanMain {
    position: fixed;
    z-index: -1;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
    background-color: $main-color;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: $secondary-color;

    a {
        color: $main-color;
    }
}

header {
    display: flex;
    justify-content: space-between;

    .logo {
        img {
            padding: 0 1em;
            height: 50px;
        }
        color: $main-color;
        font-weight: bold;
    }
    nav {
        display: flex;
        align-items: center;

        .nav-link-container {
            height: 20px;
            overflow: hidden;
        }

        .nav-link {
            span {
                display: inline-block; // Add this
            }
        }
    }
    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header,
.hero-design {
    display: none;
}

.hero {
    background-size: 400% 400%;
    color: $secondary-color;
    display: grid;
    text-align: center;
    .content {
        h1 {
            margin: unset;
        }
    }
}

.meet {
    display: flex;
    margin: 0 auto;
    font-weight: bold;
    color: $tertiary-color;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
    z-index: 3;
}

.subtitle {
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: $secondary-color;
    letter-spacing: 0.2em;
    font-size: 0.85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -0.4em;
    display: block;
}

.featured-desc {
    color: black;
    margin-bottom: 3em;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 500;
}
.featured-desc-bottom {
    color: black;
    margin-bottom: 1em;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 500;
}

.featured-desc {
    margin-bottom: 2em;
}

.portfolio-container {
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (max-width: 1050px) {
    .portfolio-left {
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 800px) {
    .featured,
    .portfolio {
        text-align: left;
        margin-bottom: -9em;
    }
    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left,
    .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .portfolio-container img {
        margin-left: 2em;
    }
}
.social-header-2 {
    display: none;
    @media only screen and (max-width: 1050px) {
        display: block;
        margin: 1em 0 0 1em;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 8em;
        float: left;
    }
}

body {
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 1vh;
}

@media only screen and (min-width: 1050px) {
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: $secondary-color;
        }
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }

    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 20px;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            .content-margin {
                padding: 6em 8em 6em 4em;
            }
            text-align: left;
            h1 {
                white-space: nowrap;
                display: inline-block;
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .meet {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
        z-index: 0;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

header {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .content-margin {
        margin: 0 2em 0 2em;
    }
}

@media only screen and (min-width: 1250px) {
    section {
        padding: 10em 10em 4em 10em;
    }

    .content-margin {
        margin: 0 6em 4em 6em;
    }
}

@media only screen and (min-width: 1550px) {
    section {
        padding: 6em 20em 4em 20em;
    }

    .content-margin {
        margin: 2em 10em 6em 16em;
    }
    h1 * {
        font-size: 2em;
    }
}
.hire-me-background {
    display: flex;
    background: linear-gradient(
        180deg,
        rgba(247, 247, 247, 1) 0%,
        rgba(247, 247, 247, 1) 32%,
        rgba(0, 212, 255, 0) 100%
    );
}
.hire-me-container {
    display: flex;

    @media only screen and (min-width: 800px) {
        margin-top: 9em;
    }
    ul {
        display: flex;
        justify-content: space-between;
        width: 7em;
        float: left;
        img {
            width: 100px;
        }
    }
}

.center-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-radius {
    border-radius: 1em;
}
.no-top-margin {
    margin-top: 0px;
}

.inner {
    background-color: $accent-color;
    padding: 1rem;
}
.noBackground {
    background-color: unset;
    padding: unset;
}

.resume {
    font-size: 1.5em;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins';
    color: #6e00ff;
}
.resume-link {
    a {
        text-decoration: none;
    }
    display: flex;
    margin-left: auto;
    padding: 1em;
    background-color: $secondary-color;
    color: #00f7ff;
    font-weight: bold;
    border-radius: 30px 0 0 0;
    @media only screen and (min-width: 1050px) {
        display: none;
    }
}
.resume-flex-container {
    display: flex;
    justify-content: flex-end;
}
.resume-link-2 {
    a {
        text-decoration: none;
    }
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    background-color: $secondary-color;
    color: $main-color;
    font-weight: bold;
    border-radius: 0 0 0 30px;
    @media only screen and (max-width: 1050px) {
        display: none;
    }
}
.github-repo-container {
    align-items: center;
    img {
        float: left;
        margin-left: 0;
    }
    display: flex;

    @media only screen and (max-width: 800px) {
        justify-content: center;
    }
}

.github-link {
    display: flex;
    align-items: center;
}
.github-repo {
    @media only screen and (max-width: 800px) {
        width: 20px;
    }
    @media only screen and (min-width: 800px) {
        width: 30px;
    }
}
.view-on-github {
    margin-left: 0.4em;
    color: $secondary-color;
    @media only screen and (min-width: 800px) {
        font-size: 1em;
    }
    @media only screen and (max-width: 800px) {
        font-size: 0.7em;
    }
    display: inline-block;

    letter-spacing: 0.2em;
    text-shadow: 2px 2px 8px white;
}

.button {
    background-color: $secondary-color;
    color: $accent-color;
    padding: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

// Lenis

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.playAudio {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 1.5rem;
    background-color: black;
    z-index: 1000;
    button {
        cursor: pointer;
    }
}

.audioPopup {
    position: fixed;
    bottom: 60px;
    left: 0px;
    margin: 3rem 1rem;
    background: white;
    padding: 1rem;
    z-index: 1000;
    width: 200px;
    border-radius: 10px;
    background-color: #f5e0d0;
    border: 6px solid #f0a902;
    box-shadow: 5px 5px black;
    i {
        position: absolute;
        top: 0;
        right: 0;
        margin: 3px;
        font-size: 1.5rem;
        color: #f0a902;
        cursor: pointer;
    }
}

.audioPopup:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 25px solid #f0a902;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.spinner {
    border: 16px solid $secondary-color;
    border-top: 16px solid $tertiary-color;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scrollDiv {
    height: 3000px;
}

.marquee-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    top: 0;
    #marquee {
        background-color: $secondary-color;
        color: $main-color;
        font-weight: bolder;
        font-size: 1rem;
        font-style: italic;
        font-family: 'Bebas Neue', sans-serif;
        position: sticky;
        line-height: 11px;
    }
}

.navContainerWrapper {
    position: fixed;
}

.experimentContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
